body{
	background-color: white;
	font-family: georgia. times;
	color: black;
	font-size: 1.2rem;
	line-height: 1.4em;
	margin: 0;
}
h1 {
	line-height: 1.3em;
	font-size: 2em;
}
p{
	margin-bottom: 1.6em;
}
.container{

	width: 85%
	max-widht: 850px;
	margin:  0 auto;
}
.header {
	background: #333;
	color: white
	padding:2rem 0;

	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
}

.header a {
 	color: white;
 	text-decoration: none;

 }
.logo-nav-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.logo {
	width: 445px;
	height: 80px;
	letter-spacing: 15px;
	font-size: 1.2em;
}
.navigation ul {
margin: 0;
padding: 0;
list-style: none;
}

.navigation ul li {
	display: inline-block;
}

.navigation ul li a{
display: block;
padding: 0.5rem 1rem;
transition: all 0.4s linear;
border-radius: 5px;
}
  .navigation ul li a: hover{
   background: #4a4a4a;
  }
.main {
	padding-top: 5rem;
}
  .footer{
  	background: lightgrey;
  	padding: 4rem 0;
  	text-align: center;
  	margin-top: 6rem;
  	color: white;
  	width: 90%;
  }

  @meida only screen and (max-width: 767px) {
  	.navigation{
  		width: 100%
  	}


  }
    .navigation ul {
   	display: inline-block;
}


.navigation ul li a{
display: block;
padding: 0.5rem 1rem;
transition: all 0.4s linear;
border-radius: 5px;
}
  .navigation ul li a: hover{
   background: #4a4a4a
  }