<center>
body{
	background-color: white;
	font-family: sans-serif;
}

.container{
	margin: auto;
	background-color: white;
	width: 800px;
	padding: 30px;
}

ul, li{
	margin: 0;
	padding: 0;
	list-style: none;
}
ul.slider{
	position: relative;
	width:  400px;
	height: 400px;
}
ul.slider li{
	position: absolute;
	left: 183px;
	top: 20px;
	opacity: 0;
	width: inherit;
	height: inherit;
	background-color: none;
	transition: opacity .5s;
}
ul.slider li img{
	width: 100%;
	height: 300px;
	object-fit: cover;
}

ul.slider li:first-child{
	opacity: 1;
}

ul.slider li:target{
	opacity: 1;
}
.menu{
	text-align: center;
	margin: 20px;
}

.menu li{
	display: inline-block;
	text-align: center;
}

.menu li a{
	display: inline-block;
	color: white;
	text-decoration: none;
	background-color: grey;
	padding: 10px;
	width: 20px;
	height: 20px;
	font-size: 20px;
	border-radius: 100%
}
</center>